.attempt-options {
	display: flex;
	margin-top: 10px;
	padding-bottom: 6px;
	/*min-width: px;*/
	flex-direction: column;
	justify-content: flex-start;
	position: fixed;
	z-index: 10;
	/*border-bottom: 1px solid #dadada;*/
}

.attempt-options .option-group {
	display: flex;
	flex-direction: column;
	margin: 10px 0px;
}

.attempt-options .option-group .title {
	font-weight: bold;
	font-size: 0.8em;
	margin-left: 4px;
	margin-bottom: 2px;
	border-bottom: 1px solid black;
}

.attempt-options .option-list {
	display: flex;
	flex-direction: row;
}

.attempt-options .option {
	margin: 0px 2px;
	font-size: 0.8em;
	width: unset;
	padding: 2px 5px;
	height: unset;
	line-height: unset;
}
