.competition-option {
  height: 45px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 6px;
  border-bottom: 1px dashed #dadada;
}
.competition-option:hover {
  /*font-weight: bold;*/
}
/*.competition-option:nth-child(2n) {
  background-color: #efefef;
}*/
.competition-option a {
  width: 100%;
  height: 100%;
}

a:hover .competition-option {
  color: black;
}
.competition-option .date, .competition-option .style {
  font-size: 0.75em;
  color: #999;
}


.competition-option:hover {
  background-color: #efefef;
  transition: 0.3s;
}

  /*// &:first-child {
  //   border-top: none
  // }*/
/*}*/