.competition-option {
  height: 45px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 6px;
  /*margin: 8px 0px;*/
  border-bottom: 1px dashed #dadada;
}
/*.competition-option:nth-child(2n) {
  background-color: #efefef;
}*/
.competition-option a {
  width: 100%;
  height: 100%;
}
.competition-option .date {
    font-size: 0.75em;
    color: #999;
  }

.competition-option:hover {
  background-color: #dadada;
  transition: 0.3s;
}

  /*// &:first-child {
  //   border-top: none
  // }*/
/*}*/