.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.8em; 
    color: gray;
}

.footer div {
    padding: 4px 30px;
    border-left: 1px solid #efefef;
}

.footer div:first-child {
    border-left: none
}