.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px 5px;
  align-items: center;
  border-bottom: 1px solid #dadada;
  position: fixed;
  width: 950px;
  height: 39px;
  z-index: 100;
  background-color: rgba(255,255,255,0.95);
}
.app-header .burger-and-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-header .burger-and-title .app-title {
  margin-left: 2px;
  font-weight: bold;
  font-size: 26px;
}

.app-header .searchbox {
  margin-right: 2px;
  padding-left: 4px;
  border-left: 1px solid #efefef;
  z-index: 999;
}

.app-header .searchbox input {
    background-color: rgba(0,0,0,0);
    width: 200px;
    border: none;
    outline: 0px;
    outline-offset: 0px;
    height: 26px;
    line-height: 26px;
    font-size: 0.8em;
    padding: 1px 6px;
    transition: 0.2s;
}

.app-header .searchbox input::placeholder {
  font-size: 1em;
  color: #ccc;
}

.app-header .searchbox .searchbox-overlay {
    display: block;
    top: 34px;
    position: absolute;
    background-color: white;
    width: 292px;
    z-index: 10000;
    font-size: 0.9em;
    border: 1px solid #dadada;
}
.searchbox-overlay .searchbox-title {
      margin-top: 6px;
      padding: 2px 6px;
      font-weight: bold;
      text-transform: uppercase;
      color: gray;
}
.searchbox-overlay .divider {
  margin: 0px 6px;
  border-top: 1px solid #dadada;
}
.searchbox-overlay .searchbox-note {
  padding: 4px 6px;
  color: #ccc;
}
.searchbox-overlay .searchbox-option {
  height: 30px;
  padding: 4px 6px;
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.searchbox-overlay .sideKey {
  font-size: 0.9em;
  color: #999;
}

.searchbox-overlay:hover {
  cursor: pointer;
  background-color: #dadada;
  transition: 0.2s;
}