.lifter-list {
	max-width: 600px;
	margin: 20px auto;	
	padding: 0px 8px;	
}

.lifter-list .title {
	padding: 0px 0px 5px 6px;
	font-weight: bold;
	font-size: 1.2em;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
	/*margin-bottom: 12px;*/
}

.lifter-list .aside {
	font-weight: normal;
	font-size: 0.8em;
	text-transform: none;
	/*font-style: italic;*/
	margin-left: 20px;
	color: #999;
	display: flex;
	flex-direction: row;
	/*display: inline-block;*/
}

.lifter-list .item {
	height: 40px;
	padding: 3px 6px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px dashed #dadada;
}

/*.lifter-list .item .weightClass {
    font-size: 0.75em;
    color: #999;
}*/
.lifter-list .item .yob {
    margin-right: 40px;
}

.lifter-list .item:hover{
	color: unset;
}

.lifter-list .item:hover {
  background-color: #efefef;
  transition: 0.3s;
  color: black;
}