.route-indicator {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.route-option {
	margin: 0px 13px;
	text-align: center;
	font-size: 0.8em;
	color: #888;
	align-self: center;

}
@media screen and (max-width: 640px) {
	.route-option:first-child {
		margin-left: 4px;
	}
	.route-option:last-child {
		margin-right: 4px;
	}
}

.route-option.active {
	color: #00A8E8;
	border-bottom: 1px solid #00A8E8;
}

/*.route-option:hover {
	cursor: pointer;
}*/