.spinner {
	display:flex;
	margin-top: 60px;
	flex-direction: column;
	align-items: center;
}

.spinner .label {
	 font-size: 0.75em;
    color: #999;
    margin-left: 14px;
}

.cssload-wrap {
	text-align: center;
	line-height: 60px;
}
	
.cssload-container {
	display: inline-block;
}

.cssload-dots {
	display: inline-block;
	position: relative;
}
.cssload-dots:not(:last-child) {
	margin-right: 9px;
}
.cssload-dots:before, .cssload-dots:after {
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	position: absolute;
}
.cssload-dots:nth-child(1):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.6s linear infinite;
		-o-animation: cssload-animBefore 1.6s linear infinite;
		-ms-animation: cssload-animBefore 1.6s linear infinite;
		-webkit-animation: cssload-animBefore 1.6s linear infinite;
		-moz-animation: cssload-animBefore 1.6s linear infinite;
	animation-delay: -1.44s;
		-o-animation-delay: -1.44s;
		-ms-animation-delay: -1.44s;
		-webkit-animation-delay: -1.44s;
		-moz-animation-delay: -1.44s;
	background-color: rgb(0,168,232);
}
.cssload-dots:nth-child(1):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.6s linear infinite;
		-o-animation: cssload-animAfter 1.6s linear infinite;
		-ms-animation: cssload-animAfter 1.6s linear infinite;
		-webkit-animation: cssload-animAfter 1.6s linear infinite;
		-moz-animation: cssload-animAfter 1.6s linear infinite;
	animation-delay: -1.44s;
		-o-animation-delay: -1.44s;
		-ms-animation-delay: -1.44s;
		-webkit-animation-delay: -1.44s;
		-moz-animation-delay: -1.44s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(2):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.6s linear infinite;
		-o-animation: cssload-animBefore 1.6s linear infinite;
		-ms-animation: cssload-animBefore 1.6s linear infinite;
		-webkit-animation: cssload-animBefore 1.6s linear infinite;
		-moz-animation: cssload-animBefore 1.6s linear infinite;
	animation-delay: -2.88s;
		-o-animation-delay: -2.88s;
		-ms-animation-delay: -2.88s;
		-webkit-animation-delay: -2.88s;
		-moz-animation-delay: -2.88s;
	background-color: rgba(0,168,232,0.98);
}
.cssload-dots:nth-child(2):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.6s linear infinite;
		-o-animation: cssload-animAfter 1.6s linear infinite;
		-ms-animation: cssload-animAfter 1.6s linear infinite;
		-webkit-animation: cssload-animAfter 1.6s linear infinite;
		-moz-animation: cssload-animAfter 1.6s linear infinite;
	animation-delay: -2.88s;
		-o-animation-delay: -2.88s;
		-ms-animation-delay: -2.88s;
		-webkit-animation-delay: -2.88s;
		-moz-animation-delay: -2.88s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(3):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.6s linear infinite;
		-o-animation: cssload-animBefore 1.6s linear infinite;
		-ms-animation: cssload-animBefore 1.6s linear infinite;
		-webkit-animation: cssload-animBefore 1.6s linear infinite;
		-moz-animation: cssload-animBefore 1.6s linear infinite;
	animation-delay: -4.32s;
		-o-animation-delay: -4.32s;
		-ms-animation-delay: -4.32s;
		-webkit-animation-delay: -4.32s;
		-moz-animation-delay: -4.32s;
	background-color: rgb(0,168,232);
}
.cssload-dots:nth-child(3):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.6s linear infinite;
		-o-animation: cssload-animAfter 1.6s linear infinite;
		-ms-animation: cssload-animAfter 1.6s linear infinite;
		-webkit-animation: cssload-animAfter 1.6s linear infinite;
		-moz-animation: cssload-animAfter 1.6s linear infinite;
	animation-delay: -4.32s;
		-o-animation-delay: -4.32s;
		-ms-animation-delay: -4.32s;
		-webkit-animation-delay: -4.32s;
		-moz-animation-delay: -4.32s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(4):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.6s linear infinite;
		-o-animation: cssload-animBefore 1.6s linear infinite;
		-ms-animation: cssload-animBefore 1.6s linear infinite;
		-webkit-animation: cssload-animBefore 1.6s linear infinite;
		-moz-animation: cssload-animBefore 1.6s linear infinite;
	animation-delay: -5.76s;
		-o-animation-delay: -5.76s;
		-ms-animation-delay: -5.76s;
		-webkit-animation-delay: -5.76s;
		-moz-animation-delay: -5.76s;
	background-color: rgb(0,168,232);
}
.cssload-dots:nth-child(4):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.6s linear infinite;
		-o-animation: cssload-animAfter 1.6s linear infinite;
		-ms-animation: cssload-animAfter 1.6s linear infinite;
		-webkit-animation: cssload-animAfter 1.6s linear infinite;
		-moz-animation: cssload-animAfter 1.6s linear infinite;
	animation-delay: -5.76s;
		-o-animation-delay: -5.76s;
		-ms-animation-delay: -5.76s;
		-webkit-animation-delay: -5.76s;
		-moz-animation-delay: -5.76s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(5):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.6s linear infinite;
		-o-animation: cssload-animBefore 1.6s linear infinite;
		-ms-animation: cssload-animBefore 1.6s linear infinite;
		-webkit-animation: cssload-animBefore 1.6s linear infinite;
		-moz-animation: cssload-animBefore 1.6s linear infinite;
	animation-delay: -7.2s;
		-o-animation-delay: -7.2s;
		-ms-animation-delay: -7.2s;
		-webkit-animation-delay: -7.2s;
		-moz-animation-delay: -7.2s;
	background-color: rgb(0,168,232);
}
.cssload-dots:nth-child(5):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.6s linear infinite;
		-o-animation: cssload-animAfter 1.6s linear infinite;
		-ms-animation: cssload-animAfter 1.6s linear infinite;
		-webkit-animation: cssload-animAfter 1.6s linear infinite;
		-moz-animation: cssload-animAfter 1.6s linear infinite;
	animation-delay: -7.2s;
		-o-animation-delay: -7.2s;
		-ms-animation-delay: -7.2s;
		-webkit-animation-delay: -7.2s;
		-moz-animation-delay: -7.2s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(6):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.6s linear infinite;
		-o-animation: cssload-animBefore 1.6s linear infinite;
		-ms-animation: cssload-animBefore 1.6s linear infinite;
		-webkit-animation: cssload-animBefore 1.6s linear infinite;
		-moz-animation: cssload-animBefore 1.6s linear infinite;
	animation-delay: -8.64s;
		-o-animation-delay: -8.64s;
		-ms-animation-delay: -8.64s;
		-webkit-animation-delay: -8.64s;
		-moz-animation-delay: -8.64s;
	background-color: rgb(0,168,232);
}
.cssload-dots:nth-child(6):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.6s linear infinite;
		-o-animation: cssload-animAfter 1.6s linear infinite;
		-ms-animation: cssload-animAfter 1.6s linear infinite;
		-webkit-animation: cssload-animAfter 1.6s linear infinite;
		-moz-animation: cssload-animAfter 1.6s linear infinite;
	animation-delay: -8.64s;
		-o-animation-delay: -8.64s;
		-ms-animation-delay: -8.64s;
		-webkit-animation-delay: -8.64s;
		-moz-animation-delay: -8.64s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(7):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.6s linear infinite;
		-o-animation: cssload-animBefore 1.6s linear infinite;
		-ms-animation: cssload-animBefore 1.6s linear infinite;
		-webkit-animation: cssload-animBefore 1.6s linear infinite;
		-moz-animation: cssload-animBefore 1.6s linear infinite;
	animation-delay: -10.08s;
		-o-animation-delay: -10.08s;
		-ms-animation-delay: -10.08s;
		-webkit-animation-delay: -10.08s;
		-moz-animation-delay: -10.08s;
	background-color: rgb(0,168,232);
}
.cssload-dots:nth-child(7):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.6s linear infinite;
		-o-animation: cssload-animAfter 1.6s linear infinite;
		-ms-animation: cssload-animAfter 1.6s linear infinite;
		-webkit-animation: cssload-animAfter 1.6s linear infinite;
		-moz-animation: cssload-animAfter 1.6s linear infinite;
	animation-delay: -10.08s;
		-o-animation-delay: -10.08s;
		-ms-animation-delay: -10.08s;
		-webkit-animation-delay: -10.08s;
		-moz-animation-delay: -10.08s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(8):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.6s linear infinite;
		-o-animation: cssload-animBefore 1.6s linear infinite;
		-ms-animation: cssload-animBefore 1.6s linear infinite;
		-webkit-animation: cssload-animBefore 1.6s linear infinite;
		-moz-animation: cssload-animBefore 1.6s linear infinite;
	animation-delay: -11.52s;
		-o-animation-delay: -11.52s;
		-ms-animation-delay: -11.52s;
		-webkit-animation-delay: -11.52s;
		-moz-animation-delay: -11.52s;
	background-color: rgb(0,168,232);
}
.cssload-dots:nth-child(8):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.6s linear infinite;
		-o-animation: cssload-animAfter 1.6s linear infinite;
		-ms-animation: cssload-animAfter 1.6s linear infinite;
		-webkit-animation: cssload-animAfter 1.6s linear infinite;
		-moz-animation: cssload-animAfter 1.6s linear infinite;
	animation-delay: -11.52s;
		-o-animation-delay: -11.52s;
		-ms-animation-delay: -11.52s;
		-webkit-animation-delay: -11.52s;
		-moz-animation-delay: -11.52s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(9):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.6s linear infinite;
		-o-animation: cssload-animBefore 1.6s linear infinite;
		-ms-animation: cssload-animBefore 1.6s linear infinite;
		-webkit-animation: cssload-animBefore 1.6s linear infinite;
		-moz-animation: cssload-animBefore 1.6s linear infinite;
	animation-delay: -12.96s;
		-o-animation-delay: -12.96s;
		-ms-animation-delay: -12.96s;
		-webkit-animation-delay: -12.96s;
		-moz-animation-delay: -12.96s;
	background-color: rgb(0,168,232);
}
.cssload-dots:nth-child(9):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.6s linear infinite;
		-o-animation: cssload-animAfter 1.6s linear infinite;
		-ms-animation: cssload-animAfter 1.6s linear infinite;
		-webkit-animation: cssload-animAfter 1.6s linear infinite;
		-moz-animation: cssload-animAfter 1.6s linear infinite;
	animation-delay: -12.96s;
		-o-animation-delay: -12.96s;
		-ms-animation-delay: -12.96s;
		-webkit-animation-delay: -12.96s;
		-moz-animation-delay: -12.96s;
	background-color: #777;
}
.cssload-dots:nth-child(10):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.6s linear infinite;
		-o-animation: cssload-animBefore 1.6s linear infinite;
		-ms-animation: cssload-animBefore 1.6s linear infinite;
		-webkit-animation: cssload-animBefore 1.6s linear infinite;
		-moz-animation: cssload-animBefore 1.6s linear infinite;
	animation-delay: -14.4s;
		-o-animation-delay: -14.4s;
		-ms-animation-delay: -14.4s;
		-webkit-animation-delay: -14.4s;
		-moz-animation-delay: -14.4s;
	background-color: rgb(0,168,232);
}
.cssload-dots:nth-child(10):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.6s linear infinite;
		-o-animation: cssload-animAfter 1.6s linear infinite;
		-ms-animation: cssload-animAfter 1.6s linear infinite;
		-webkit-animation: cssload-animAfter 1.6s linear infinite;
		-moz-animation: cssload-animAfter 1.6s linear infinite;
	animation-delay: -14.4s;
		-o-animation-delay: -14.4s;
		-ms-animation-delay: -14.4s;
		-webkit-animation-delay: -14.4s;
		-moz-animation-delay: -14.4s;
	background-color: #777;
}




@keyframes cssload-animBefore {
	0% {
		transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	25% {
		transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	50% {
		transform: scale(1) translateY(200%);
		z-index: -1;
	}
	75% {
		transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	100% {
		transform: scale(1) translateY(-200%);
		z-index: -1;
	}
}

@-o-keyframes cssload-animBefore {
	0% {
		-o-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	25% {
		-o-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	50% {
		-o-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	75% {
		-o-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	100% {
		-o-transform: scale(1) translateY(-200%);
		z-index: -1;
	}
}

@-ms-keyframes cssload-animBefore {
	0% {
		-ms-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	25% {
		-ms-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	50% {
		-ms-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	75% {
		-ms-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	100% {
		-ms-transform: scale(1) translateY(-200%);
		z-index: -1;
	}
}

@-webkit-keyframes cssload-animBefore {
	0% {
		-webkit-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	25% {
		-webkit-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	50% {
		-webkit-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	75% {
		-webkit-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	100% {
		-webkit-transform: scale(1) translateY(-200%);
		z-index: -1;
	}
}

@-moz-keyframes cssload-animBefore {
	0% {
		-moz-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	25% {
		-moz-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	50% {
		-moz-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	75% {
		-moz-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	100% {
		-moz-transform: scale(1) translateY(-200%);
		z-index: -1;
	}
}

@keyframes cssload-animAfter {
	0% {
		transform: scale(1) translateY(200%);
		z-index: -1;
	}
	25% {
		transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	50% {
		transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	75% {
		transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	100% {
		transform: scale(1) translateY(200%);
		z-index: 1;
	}
}

@-o-keyframes cssload-animAfter {
	0% {
		-o-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	25% {
		-o-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	50% {
		-o-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	75% {
		-o-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	100% {
		-o-transform: scale(1) translateY(200%);
		z-index: 1;
	}
}

@-ms-keyframes cssload-animAfter {
	0% {
		-ms-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	25% {
		-ms-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	50% {
		-ms-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	75% {
		-ms-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	100% {
		-ms-transform: scale(1) translateY(200%);
		z-index: 1;
	}
}

@-webkit-keyframes cssload-animAfter {
	0% {
		-webkit-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	25% {
		-webkit-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	50% {
		-webkit-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	75% {
		-webkit-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	100% {
		-webkit-transform: scale(1) translateY(200%);
		z-index: 1;
	}
}

@-moz-keyframes cssload-animAfter {
	0% {
		-moz-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	25% {
		-moz-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	50% {
		-moz-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	75% {
		-moz-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	100% {
		-moz-transform: scale(1) translateY(200%);
		z-index: 1;
	}
}