.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 0.7em;
    color: gray;

    div {
        padding: 3px 30px;
        border-left: 1px solid #efefef;
        &:first-child {
            border-left: none;
        }
    }

    @media screen and (max-width: 670px) {
        display: grid;
        grid-template-rows: auto auto;
        div {
            padding: 2px;
            justify-self: center;
            border-left: none;
            &:last-child {
                // border-top: 1px solid #efefef;
            }
        }
    }

}
