html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

#root {
  min-height: 100%;
  width: 100%;
  display: flex; }

a {
  text-decoration: unset; }
  a:link {
    color: unset; }
  a:visited {
    color: unset; }
  a:hover {
    color: #00A8E8; }

a.visible-link:link {
  color: #00A8E8; }
a.visible-link:hover {
  color: #00A8E8; }

.app {
  left: 0px;
  padding: 0px 0px 10px;
  display: flex;
  flex-direction: column;
  flex-y: 1;
  width: 100%;
  position: relative;
  min-height: 100%; }

.header-and-content {
  z-index: 1;
  margin-bottom: 30px; }

.side-bar.left {
  z-index: 2; }

.hidden {
  display: none !important; }

.rt-tr-group {
  border: none !important; }

.editTools {
  display: flex;
  flex-direction: row;
  z-index: 99999;
  background-color: black;
  height: 25px;
  margin-top: -10px;
  justify-content: center; }

.options-pane {
  padding: 0px 8px;
  width: 110px; }
  .options-pane .left .option {
    text-align: left; }
  .options-pane .all-options {
    display: flex;
    flex-direction: column;
    align-items: left; }
    .options-pane .all-options .options-container {
      margin: 10px auto;
      width: 120px;
      display: flex;
      flex-direction: column;
      align-items: left; }
      .options-pane .all-options .options-container .options-title {
        font-size: 12px;
        width: 100%;
        border-bottom: 1px solid black;
        font-weight: bold;
        margin: 2px 0px 4px 2px; }
      .options-pane .all-options .options-container .options {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between; }
      .options-pane .all-options .options-container .specific-options {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 12px; }
        .options-pane .all-options .options-container .specific-options:first-child {
          margin-left: 0px; }

.option {
  width: 94%;
  padding: 0px 3%;
  min-width: 28px;
  font-size: 0.8em;
  height: 24px;
  line-height: 24px;
  margin: 1px 0px;
  border-radius: 2px;
  border: 1px solid #dadada;
  text-align: center; }
  .option:hover {
    cursor: pointer;
    background-color: #dadada; }
  .option:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset; }
  .option.active {
    background-color: #66A182;
    color: white; }

.burger-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  width: 16px;
  height: 15px;
  margin: 10px;
  transition: 0.3s; }
  .burger-icon .bar {
    height: 3px;
    background-color: black;
    border-radius: 3px; }
  .burger-icon:hover {
    cursor: pointer; }
  .burger-icon.rotated {
    transform: rotate(-90deg);
    transition: 0.2s; }

.pinOnScroll {
  z-index: 999;
  transition: 0.4s; }
  .pinOnScroll.pinned {
    position: fixed;
    top: 0px;
    width: 100%;
    transition: 0.4s top; }

.side-bar {
  overflow: hidden;
  background-color: white;
  transition: 0.3s;
  position: absolute;
  z-index: 1000; }

.side-bar.open {
  transition: 0.2s; }

.side-bar.right {
  width: 138px;
  right: -145px; }

.side-bar.right.open {
  right: 0px; }

.side-bar.left {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: -244px;
  width: 240px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 2px 1px 2px gray;
  display: flex;
  font-size: 0.8em;
  flex-direction: column;
  padding: 0px; }
  .side-bar.left.open {
    left: 0px; }
  .side-bar.left .app-title {
    height: 140px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: black;
    outline: 1px solid black;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: "PT Serif", Georgia, "Times New Roman", serif; }
  .side-bar.left .divider {
    border-top: 1px solid #eee;
    margin-bottom: 6px; }
  .side-bar.left .section {
    margin-bottom: 20px; }
  .side-bar.left .section-title {
    padding-left: 10px;
    font-weight: bold;
    margin: 5px 0px;
    text-transform: uppercase; }
  .side-bar.left .blog {
    padding-left: 10px; }
    .side-bar.left .blog.inactive {
      font-size: 0.8em;
      color: #999; }
  .side-bar.left .section.about {
    margin-top: auto; }
  .side-bar.left .section-content {
    padding-left: 10px; }

.circle-indicator {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-radius: 8px;
  opacity: 0; }
  .circle-indicator.active {
    opacity: 1;
    background-color: #66A182; }

.content {
  padding-bottom: 30px; }

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.button {
  margin: 0px 2px;
  padding: 4px 6px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  background-color: #E6E6E6;
  border: 1px solid #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px; }
  .button.seek-button {
    width: 60px; }
  .button.lift-button {
    width: 100px; }
  .button:hover {
    cursor: pointer;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1)); }
  .button:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset; }
  .button.right {
    justify-content: flex-end;
    text-align: right; }

.autoplay-buttons {
  display: flex;
  flex-direction: row; }

.records {
  background-color: seagreen;
  color: white; }

/*# sourceMappingURL=styles.css.map */
