$deepBlack: #00171F;
$blue1: #00A8E8;
$blue2: #007EA7;
$blue3: #003459;
$sangria: #92140C;
$shamrock: #66A182;
$minWidthForSideOptions: 0px;
$carminePink: #EF6F6C;
$independence: #465775;
$clickable: #FFFFFF;
$appWidth: 100%;
$menuOpenTime: 0.2s;
$menuCloseTime: 0.3s;
$menuWidth: 240px;

html, body {
  // background-color: #dadada;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

// *,
// *:before,
// *:after {
//   box-sizing: inherit;
// }
// body, .header-and-content, #root, .app {
//   position: relative;
//   min-height: 100%;
//   flex: 1;
// }

#root {
  min-height: 100%;
  width: 100%;
  display: flex;
}
a {
  text-decoration: unset;
  &:link {
    color: unset;
  }
  &:visited {
    color: unset;
  }
  &:hover {
    color: $blue1;
  }
}

a.visible-link {
  &:link {
    color: $blue1;
  }

  &:hover {
    color: $blue1;
  }
}

.app {
  // background-color: #dadada;
  left: 0px;
  padding: 0px 0px 10px;
  display: flex;
  flex-direction: column;
  flex-y: 1;
  // margin: 0 auto;
  width: 100%;
  // min-height: 800px;
  position: relative;
  min-height: 100%;
  // @media (min-width: $minWidthForSideOptions) {
  //   flex-direction: row;
}
.header-and-content {
  z-index: 1;
  margin-bottom: 30px;
}

.side-bar.left {
  z-index: 2;
}
.hidden {
  display: none !important;
}

.rt-tr-group {
  border: none !important;
}

.editTools {
  display: flex;
  flex-direction: row;
  z-index: 99999;
  background-color:black;
  height: 25px;
  margin-top: -10px;
  justify-content: center;
}

.options-pane {
  padding: 0px 8px;
  width: 110px;
  .left .option {
    text-align: left;
  }
  .all-options {
    display: flex;
    // min-width: 140px;
    // cursor: pointer;
    // justify-content: center;
    // align-items: center;
    // flex-direction: row;
    // @media (min-width: $minWidthForSideOptions) {
      flex-direction: column;
      align-items:left;
      // margin-top: 20px;
    // }

    .options-container {
      margin: 10px auto;
      width: 120px;
      display: flex;
      flex-direction: column;
      align-items: left;
 
      
       // min-width: max-content;
        .options-title {
          font-size: 12px;
          width: 100%;
          // align-self: center;
          // text-align: center;
          border-bottom: 1px solid black;
          font-weight: bold;
          margin: 2px 0px 4px 2px;
          // @media (min-width: $minWidthForSideOptions) {
          //   text-align: center;
          // }
        }

        .options {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-between;
          // @media (min-width: $minWidthForSideOptions) {
          //   flex-direction: row;
          // }

        }

        .specific-options {
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: flex-start;
          margin-left: 12px;
          // justify-content: space-around;
          // @media (min-width: $minWidthForSideOptions) {
          //   flex-direction: column;
          // }
          &:first-child {
            margin-left: 0px;
          }
        }

        
    }
  } 
}

.option {
  width: 94%;
  // flex: 1;
  padding: 0px 3%;
  min-width: 28px;
  font-size: 0.8em;
  height: 24px;
  line-height: 24px;
  margin: 1px 0px;
  border-radius: 2px;
  border: 1px solid #dadada;
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: #dadada;
  }

  &:active {
    box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset, 0 0 6px rgba(0,0,0,.2) inset
  }

  &.active {
    background-color: $shamrock; //$deepBlack;
    color: white;
  }

  // &.division {
  //   width: 80px;
  // }




  
}

.burger-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  width: 16px;
  height: 15px;
  margin: 10px;
  // z-index: 100000;
  transition: $menuCloseTime;
  .bar {
    height: 3px;
    background-color: black;
    border-radius: 3px;
    // width:
  }
  &:hover {
    cursor: pointer;
  }
  &.rotated {
    transform: rotate(-90deg);
    transition: $menuOpenTime;
  }
}

.pinOnScroll {
  z-index: 999;
  transition: 0.4s;
  &.pinned {
    position:fixed;
    top: 0px;
    width: $appWidth;
  transition: 0.4s;

  }
}
.dummyContainer {
}









.side-bar {
  overflow: hidden;
  background-color: white;
  transition: $menuCloseTime;
  position: absolute;
  z-index: 1000;
}

.side-bar.open {

  transition: $menuOpenTime;
}

.side-bar.right {
  width: 138px;
  right: -145px;
  // top: 
}
.side-bar.right.open {
  right: 0px;
}
.side-bar.left {
  $padding: 0px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: -1 * ($menuWidth + 2 * $padding + 4);
  width: $menuWidth;
  height: 100%;
  background-color: rgba(255,255,255,0.98);
  box-shadow: 2px 1px 2px gray;
  display: flex;
  font-size: 0.8em;
  flex-direction: column;
  padding: $padding;
  &.open {
    left: 0px;
  }
  .app-title {
    // padding: 60px 7px;
    height: 140px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: black;//$shamrock;
    outline: 1px solid black;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: "PT Serif", Georgia, "Times New Roman", serif;
    // border-bottom: 1px solid #dadada;
    // margin-bottom: 10px;
    // background-color: #dadada;
  }
  .divider {
    border-top: 1px solid #eee;
    margin-bottom: 6px;
  }
  .section {
    margin-bottom: 20px;
  }
  .section-title {
    padding-left: 10px;
    font-weight: bold;
    margin: 5px 0px;
    text-transform: uppercase;
    // color: gray;s
  }
  .blog {
    padding-left: 10px;
    &.inactive {
      font-size: 0.8em;
      color: #999;
    }
  }

  .section.about {
    margin-top: auto;

  }
  .section-content {
    padding-left: 10px;
  }
  
}


.circle-indicator {
  $size: 16px;
  width: $size;
  height: $size;
  margin-right: 10px;
  border-radius: $size / 2;
  opacity: 0;
  &.active {
    opacity: 1;
    background-color: $shamrock;
  }
}






.content {
  padding: 40px 0px 20px 0px;
  @media screen and (max-width: 940px) {
    padding-top: 70px;
  }
  @media screen and (max-width: 670px) {
    padding-top: 90px;
  }
}


  // justify-content: space-between;
  // margin: 8px 0px;


  // .info-pane {
  //   display: flex;
  //   // min-width: 280px;
  //   flex: 1;
  //   height: 80px;
  //   // margin-left: 10px;
  //   // max-height: 360px;
  //   // width: 310px;
  //   flex-direction: row;
  //   justify-content: space-between;



.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
// .lifter-header {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   min-height: 30px;
//   background-color: white;
//   color: #333;
//   padding: 2px 4px;
//   border-bottom: 1px solid white;
//   .lifter-name {
//     font-size: 30px;
//     font-weight: bold;
//     text-align: center;
//   }
//   .yob {
//     position: absolute;
//     right: 10px;
//      margin-left: auto;
//   }

// }


    

      // .prev-and-next-attempts {
      //   display: flex;
      //   justify-content: space-between;
      //   flex-direction: row;


      // }

      // .previous-attempt, .next-attempt {
      //   align-self: center;
      //   text-align: left;
      //   &:hover {
      //     cursor: pointer;
      //     // background-color: black;
      //     // color: white;
      //   }
      // }
      // .next-attempt {
      //   text-align: right;
      //   padding-left: 20px;
      //   padding-right: 10px;
      //   margin-left:auto;
      // }
    // }

    


.button {
  margin: 0px 2px;
  padding: 4px 6px;
  font-size: 12px;
  color: rgba(0,0,0,0.8);
  background-color: #E6E6E6;
  border: 1px solid #dadada;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  &.seek-button {
    width: 60px;
  }
  &.lift-button {
    width: 100px;
  }
  &:hover {
    cursor: pointer;
    // background-color: black;
    // color: white;
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
  }
  &:active {
    box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset, 0 0 6px rgba(0,0,0,.2) inset
  }

  &.right {
    justify-content: flex-end;
    text-align: right;
  }
}


.autoplay-buttons {
  display: flex;
  flex-direction: row;
}





.records {
  background-color: seagreen;
  color: white;
}



