html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

#root {
  min-height: 100%;
  display: flex; }

a {
  text-decoration: unset; }
  a:link {
    color: unset; }
  a:visited {
    color: unset; }
  a:hover {
    color: #00A8E8; }

a.visible-link:link {
  color: #00A8E8; }
a.visible-link:hover {
  color: #00A8E8; }

.app {
  left: 0px;
  padding: 0px 0px 10px;
  display: flex;
  flex-direction: column;
  flex-y: 1;
  width: 960px;
  position: relative;
  min-height: 100%; }

.header-and-content {
  z-index: 1;
  margin-bottom: 30px; }

.side-bar.left {
  z-index: 2; }

.hidden {
  display: none !important; }

.rt-tr-group {
  border: none !important; }

.editTools {
  display: flex;
  flex-direction: row;
  z-index: 99999;
  background-color: black;
  height: 25px;
  margin-top: -10px;
  justify-content: center; }

.options-pane {
  padding: 0px 8px;
  width: 110px; }
  .options-pane .left .option {
    text-align: left; }
  .options-pane .all-options {
    display: flex;
    flex-direction: column;
    align-items: left; }
    .options-pane .all-options .options-container {
      margin: 10px auto;
      width: 120px;
      display: flex;
      flex-direction: column;
      align-items: left; }
      .options-pane .all-options .options-container .options-title {
        font-size: 12px;
        width: 100%;
        border-bottom: 1px solid black;
        font-weight: bold;
        margin: 2px 0px 4px 2px; }
      .options-pane .all-options .options-container .options {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between; }
      .options-pane .all-options .options-container .specific-options {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 12px; }
        .options-pane .all-options .options-container .specific-options:first-child {
          margin-left: 0px; }

.option {
  width: 94%;
  padding: 0px 3%;
  min-width: 28px;
  font-size: 0.8em;
  height: 24px;
  line-height: 24px;
  margin: 1px 0px;
  border-radius: 2px;
  border: 1px solid #dadada;
  text-align: center; }
  .option:hover {
    cursor: pointer;
    background-color: #dadada; }
  .option:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset; }
  .option.active {
    background-color: #66A182;
    color: white; }
  .option.leaderboardType {
    width: 100px;
    padding: 0px 4px;
    margin-left: 3px; }

.burger-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  width: 16px;
  height: 15px;
  margin: 10px;
  transition: 0.3s; }
  .burger-icon .bar {
    height: 3px;
    background-color: black;
    border-radius: 3px; }
  .burger-icon:hover {
    cursor: pointer; }
  .burger-icon.rotated {
    transform: rotate(-90deg);
    transition: 0.2s; }

.pinOnScroll {
  z-index: 999;
  transition: 0.4s; }
  .pinOnScroll.pinned {
    position: fixed;
    top: 0px;
    width: 960px;
    transition: 0.4s; }

.side-bar {
  overflow: hidden;
  background-color: white;
  transition: 0.3s;
  position: absolute;
  z-index: 1000; }

.side-bar.open {
  transition: 0.2s; }

.side-bar.right {
  width: 138px;
  right: -145px; }

.side-bar.right.open {
  right: 0px; }

.side-bar.left {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: -244px;
  width: 240px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 2px 1px 2px gray;
  display: flex;
  font-size: 0.8em;
  flex-direction: column;
  padding: 0px; }
  .side-bar.left.open {
    left: 0px; }
  .side-bar.left .app-title {
    height: 140px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: black;
    outline: 1px solid black;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: "PT Serif", Georgia, "Times New Roman", serif; }
  .side-bar.left .divider {
    border-top: 1px solid #eee;
    margin-bottom: 6px; }
  .side-bar.left .section {
    margin-bottom: 20px; }
  .side-bar.left .section-title {
    padding-left: 10px;
    font-weight: bold;
    margin: 5px 0px;
    text-transform: uppercase; }
  .side-bar.left .blog {
    padding-left: 10px; }
    .side-bar.left .blog.inactive {
      font-size: 0.8em;
      color: #999; }
  .side-bar.left .section.about {
    margin-top: auto; }
  .side-bar.left .section-content {
    padding-left: 10px; }

.circle-indicator {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-radius: 8px;
  opacity: 0; }
  .circle-indicator.active {
    opacity: 1;
    background-color: #66A182; }

.content {
  padding-top: 41px; }

.lifter-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 38px;
  color: #333;
  background-color: #fbfbfb;
  padding: 4px 4px 0px 4px; }
  .lifter-header .competition-date {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.9em;
    color: #999; }
  .lifter-header .title-and-indicator {
    display: flex;
    flex-direction: column; }
    .lifter-header .title-and-indicator .route-indicator {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: -6px;
      font-size: 0.8em;
      color: #00A8E8; }
    .lifter-header .title-and-indicator .competition-title, .lifter-header .title-and-indicator .lifter-name {
      font-weight: bold;
      font-size: 30px; }
  .lifter-header .yob {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #999;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    line-height: 100%;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer; }
    .lifter-header .yob .arrow {
      width: 25px;
      height: 25px;
      transition: 0.2s;
      transform: rotate(-90deg); }
      .lifter-header .yob .arrow.rotated {
        transform: rotate(0deg); }

.player-center {
  display: flex;
  flex-direction: column;
  background-color: black; }

.controls-and-player {
  padding: 0px 0px 4px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  color: rgba(255, 255, 255, 0.6);
  text-align: center; }
  .controls-and-player.dark-text {
    color: rgba(0, 0, 0, 0.6); }
    .controls-and-player.dark-text .title {
      color: rgba(0, 0, 0, 0.6); }
  .controls-and-player .youtube-pane {
    width: 640px;
    height: 360px;
    position: relative; }
    .controls-and-player .youtube-pane .no-data {
      color: white;
      font-weight: normal;
      text-decoration: italic;
      font-size: 0.8em; }
      .controls-and-player .youtube-pane .no-data.overlay {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 10; }
  .controls-and-player .controls {
    display: flex;
    flex-direction: column;
    width: 140px;
    min-width: 95px; }
    .controls-and-player .controls .lifter-name, .controls-and-player .controls .attempt {
      font-size: 0.9em;
      margin-top: 7px; }
    .controls-and-player .controls .arrow {
      height: 15px;
      margin-right: -8px; }
      .controls-and-player .controls .arrow.left {
        transform: rotate(180deg);
        margin-left: -8px;
        margin-right: 0px; }
  .controls-and-player .lift-button, .controls-and-player .seek-button {
    background-color: rgba(0, 0, 0, 0);
    border-top: 1px solid #dadada;
    font-size: 0.8em;
    padding: 2px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .controls-and-player .lift-button.clickable:hover, .controls-and-player .seek-button.clickable:hover {
      cursor: pointer;
      font-weight: bold; }
    .controls-and-player .lift-button.right, .controls-and-player .seek-button.right {
      align-items: flex-end;
      padding-right: 10px; }
  .controls-and-player .lift-button {
    position: relative;
    flex: 0; }
    .controls-and-player .lift-button.clickable {
      flex: 3; }
  .controls-and-player .seek-button {
    position: relative;
    height: 40px; }
  .controls-and-player .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; }
  .controls-and-player .title-container.left {
    justify-content: flex-start; }
  .controls-and-player .title {
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 0px 8px; }
  .controls-and-player .lift-button.current-lifter {
    flex: 5;
    border-top: none; }
  .controls-and-player .seek-button .title-container {
    position: static; }

.button {
  margin: 0px 2px;
  padding: 4px 6px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  background-color: #E6E6E6;
  border: 1px solid #dadada;
  display: flex;
  align-items: center;
  border-radius: 2px; }
  .button.seek-button {
    width: 60px; }
  .button.lift-button {
    width: 100px; }
  .button:hover {
    cursor: pointer;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1)); }
  .button:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset; }
  .button.right {
    justify-content: flex-end;
    text-align: right; }

.autoplay-buttons {
  display: flex;
  flex-direction: row; }

.leaderboard {
  position: relative;
  padding-left: 3px;
  overflow: auto; }
  .leaderboard .leaderboard-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 6px 0px 3px 0px; }
    .leaderboard .leaderboard-header .leaderboard-title {
      font-size: 18px;
      font-weight: bold;
      margin-right: 50px; }
    .leaderboard .leaderboard-header .legend {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 0.8em; }
      .leaderboard .leaderboard-header .legend .legend-entries {
        padding: 1px 2px;
        margin: 0px 10px;
        display: flex;
        border: 1px solid #dadada; }
        .leaderboard .leaderboard-header .legend .legend-entries span {
          display: inline-block;
          margin: 0px 10px; }
          .leaderboard .leaderboard-header .legend .legend-entries span:first-child {
            margin-left: 2px; }
          .leaderboard .leaderboard-header .legend .legend-entries span:last-child {
            margin-right: 2px; }
    .leaderboard .leaderboard-header .options {
      display: flex;
      flex-direction: row; }

.ReactTable {
  border: none;
  overflow: visible; }
  .ReactTable .rt-noData {
    padding: 3px 6px;
    top: 50px;
    font-size: 0.8em; }
  .ReactTable .-loading {
    font-size: 0.9em; }

.records {
  background-color: seagreen;
  color: white; }

.rt-table {
  overflow: auto;
  min-height: max-content;
  font-size: 12px;
  border: none; }
  .rt-table .rt-thead {
    background-color: #efefef;
    box-shadow: none; }
    .rt-table .rt-thead.-header {
      box-shadow: none; }
  .rt-table .rt-thead .rt-th.border-left, .rt-table .rt-tbody .rt-td.border-left {
    border-left: 1px solid black; }
  .rt-table .rt-thead .rt-th.border-right, .rt-table .rt-tbody .rt-td.border-right {
    border-right: 1px solid black; }
  .rt-table .rt-thead {
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #e6e6e6; }
  .rt-table .rt-th {
    font-weight: bold; }
  .rt-table .rt-td {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 4px 5px;
    overflow: visible; }
    .rt-table .rt-td .auto-playing {
      position: absolute;
      right: 0px;
      top: 0px;
      font-size: 10px;
      background-color: black;
      color: white;
      padding: 1px 2px; }
    .rt-table .rt-td .records {
      position: absolute;
      width: 14px;
      text-align: center;
      top: 0px;
      right: 0px;
      padding: 0px 2px;
      font-size: 8px; }
  .rt-table .-headerGroups {
    border: none;
    color: white;
    font-size: 1.2em; }
    .rt-table .-headerGroups .rt-th:first-child, .rt-table .-headerGroups .rt-th:last-child {
      background-color: white;
      border-width: 0px 1px 1px 1px; }
  .rt-table .rt-tr-group {
    border-bottom: none; }
  .rt-table .rt-tbody .rt-tr:hover {
    background-color: #dadada; }
  .rt-table .rt-td.lift.has-frame:hover {
    cursor: pointer;
    background-color: white; }
  .rt-table .rt-tr.current-lifter {
    border: 2px solid black;
    border-width: 2px 0px;
    font-weight: bold; }
    .rt-table .rt-tr.current-lifter .rt-td.current-lift {
      background-color: black; }
      .rt-table .rt-tr.current-lifter .rt-td.current-lift span {
        color: white;
        font-weight: bold; }
      .rt-table .rt-tr.current-lifter .rt-td.current-lift:hover {
        background-color: black; }
  .rt-table .rt-td.lifter-name:hover, .rt-table .rt-td.comp-name:hover {
    cursor: pointer;
    background-color: white;
    color: #00A8E8; }
  .rt-table span.weight-cell, .rt-table span.total {
    display: block;
    width: 100%;
    text-align: center; }
    .rt-table span.weight-cell.total, .rt-table span.total.total {
      color: black; }

.mouse-overlay {
  z-index: 100;
  position: absolute;
  background-color: white; }

.good-lift {
  color: #66A182; }

.no-lift {
  color: #92140C;
  text-decoration: line-through; }

.uncompleted {
  color: #555;
  text-decoration: none; }

.no-frame {
  color: #ccc; }

.lights {
  display: none;
  clear: both;
  width: 100%;
  position: relative; }

.lights.small {
  display: none;
  height: 5px;
  position: absolute;
  bottom: 0px;
  left: 25%;
  width: 50%;
  /*margin: 0 ;*/ }

.lightAndReasonContainer {
  margin: 5px;
  height: 100%;
  float: left;
  position: relative; }

.lightAndReasonContainer.small {
  margin: 0px;
  width: 31%;
  margin: 0px 1%; }

.light.round {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid gray; }

.light.small {
  width: 100%;
  height: 100%;
  float: left;
  position: absolute;
  bottom: 10px; }

.lightReason.small {
  width: 100%;
  height: 100%;
  float: left;
  position: absolute;
  bottom: 0px; }

.lightReason {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 12px;
  height: 12px;
  border: 1px solid #dadada; }

.lightReason.white {
  border: none;
  background-color: rgba(0, 0, 0, 0); }

.white {
  background-color: white; }

.red {
  background-color: red; }

.yellow {
  background-color: yellow; }

.blue {
  background-color: blue; }

/*# sourceMappingURL=styles.css.map */
